<p-toast position="top-right"></p-toast>

<p-table [value]="movies" [scrollable]="true" [loading]="isTableLoading"
         [paginator]="true" [rows]="currentPageSize" [totalRecords]="totalCount" [showCurrentPageReport]="true"
         currentPageReportTemplate="{{currentPage + 1}} out of {{lastPage + 1}}. Total records available: {{totalCount}}"
         [rowsPerPageOptions]="[10, 15, 20, 25, 30, 35, 40, 45, 50]"
         sortMode="multiple" [customSort]="true"
         [lazy]="true" (onLazyLoad)="onLoad($event)"
         (onEditComplete)="updateMovie($event)"
         styleClass="p-datatable-gridlines"
         responsiveLayout="scroll" scrollDirection="both" scrollHeight="500px">
  <ng-template pTemplate="caption">
    <div class="p-d-flex">
      <button pButton pRipple label="New Movie" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openMovieDialog()"></button>
      <button pButton pRipple label="Min Genre Movie" class="p-button-info p-mr-2"
              (click)="getByMinGenre()"></button>
      <button pButton pRipple label="Max Length Movie" class="p-button-info p-mr-2"
              (click)="getByMaxLength()"></button>
      <button pButton pRipple label="Delete Movies by Screenwriter" icon="pi pi-trash" class="p-button-danger p-ml-auto"
              (click)="openDeleteByScreenwriterDialog()"></button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width:150px" pSortableColumn="id">Id
        <p-columnFilter type="numeric" field="id" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="id"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="name">Name
        <p-columnFilter type="text" field="name" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="coordinates.x">Coordinate X
        <p-columnFilter type="numeric" field="coordinates.x" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="coordinates.x"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="coordinates.y">Coordinate Y
        <p-columnFilter type="numeric" field="coordinates.y" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="coordinates.y"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="creationDate">Creation Date
        <p-columnFilter type="date" field="creationDate" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="creationDate"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="oscarsCount">Oscars Count
        <p-columnFilter type="numeric" field="oscarsCount" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="oscarsCount"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="budget">Budget
        <p-columnFilter type="numeric" field="budget" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="budget"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="length">Length
        <p-columnFilter type="numeric" field="length" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="length"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="genre">Genre
        <p-columnFilter type="text" field="genre" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="genre"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.name">Screenwriter Name
        <p-columnFilter type="text" field="screenwriter.name" display="menu"></p-columnFilter>
        <p-sortIcon field="screenwriter.name"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.height">Screenwriter Height
        <p-columnFilter type="numeric" field="screenwriter.height" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.height"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="screenwriter.eyeColor">Screenwriter Eye Color
        <p-columnFilter type="text" field="screenwriter.eyeColor" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.eyeColor"></p-sortIcon>
      </th>
      <th style="width:200px" pSortableColumn="screenwriter.hairColor">Screenwriter Hair Color
        <p-columnFilter type="text" field="screenwriter.hairColor" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.hairColor"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.nationality">Screenwriter Nationality
        <p-columnFilter type="text" field="screenwriter.nationality" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.nationality"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.location.x">Screenwriter Location X
        <p-columnFilter type="numeric" field="screenwriter.location.x" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.location.x"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.location.y">Screenwriter Location Y
        <p-columnFilter type="numeric" field="screenwriter.location.y" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.location.y"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.location.z">Screenwriter Location Z
        <p-columnFilter type="numeric" field="screenwriter.location.z" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.location.z"></p-sortIcon>
      </th>
      <th style="width:300px" pSortableColumn="screenwriter.location.name">Screenwriter Location Name
        <p-columnFilter type="text" field="screenwriter.location.name" display="menu"
                        [showOperator]="false" [showAddButton]="false"></p-columnFilter>
        <p-sortIcon field="screenwriter.location.name"></p-sortIcon>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-movie>
    <tr>
      <td style="width:150px">
        {{movie.id}}
      </td>
      <td style="width:300px" [pEditableColumn]="movie" [pEditableColumnField]="'name'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="movie.name">
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'coordinates.x'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.coordinates.x"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.coordinates.x}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'coordinates.y'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.coordinates.y"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.coordinates.y}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'creationDate'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="movie.creationDate"></p-calendar>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.creationDate}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'oscarsCount'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.oscarsCount"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.oscarsCount}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie" [pEditableColumnField]="'budget'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.budget"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.budget}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie" [pEditableColumnField]="'length'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.length"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.length}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie" [pEditableColumnField]="'genre'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="genres" [showClear]="true" [(ngModel)]="movie.genre"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.genre}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.name'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="movie.screenwriter.name">
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.name}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.height'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [minFractionDigits]="2" [(ngModel)]="movie.screenwriter.height"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.height}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.eyeColor'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="eyeColors"
                        [showClear]="true"
                        [(ngModel)]="movie.screenwriter.eyeColor"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.eyeColor}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:200px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.hairColor'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="hairColors" [showClear]="true"
                        [(ngModel)]="movie.screenwriter.hairColor"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.hairColor}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.nationality'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-dropdown [options]="countries" [showClear]="true"
                        [(ngModel)]="movie.screenwriter.nationality"></p-dropdown>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.nationality}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.location.x'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.screenwriter.location.x"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.location.x}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.location.y'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [(ngModel)]="movie.screenwriter.location.y"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.location.y}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.location.z'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber [minFractionDigits]="2" [(ngModel)]="movie.screenwriter.location.z"></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.location.z}}
          </ng-template>
        </p-cellEditor>
      </td>
      <td style="width:300px" [pEditableColumn]="movie"
          [pEditableColumnField]="'screenwriter.location.name'">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="movie.screenwriter.location.name">
          </ng-template>
          <ng-template pTemplate="output">
            {{movie.screenwriter.location.name}}
          </ng-template>
        </p-cellEditor>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td style="min-width: 150px" [attr.colspan]="17">
        No data present
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog id="movieSave" header="Movie details" [(visible)]="isMovieDialogVisible" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="movie.name"/>
    </div>
    <div class="p-field">
      <label for="coordinates-x">Coordinates X</label>
      <p-inputNumber id="coordinates-x" [(ngModel)]="movie.coordinates.x"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="coordinates-y">Coordinates Y</label>
      <p-inputNumber id="coordinates-y" [(ngModel)]="movie.coordinates.y"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="oscars-count">Oscars Count</label>
      <p-inputNumber id="oscars-count" [(ngModel)]="movie.oscarsCount"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="budget">Budget</label>
      <p-inputNumber id="budget" [(ngModel)]="movie.budget"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="length">Length</label>
      <p-inputNumber id="length" [(ngModel)]="movie.length"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="genre">Genre</label>
      <p-dropdown [options]="genres" placeholder="Select Genre"
                  [showClear]="true" id="genre" [(ngModel)]="movie.genre"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="screenwriter-name">Screenwriter Name</label>
      <input type="text" pInputText id="screenwriter-name" [(ngModel)]="movie.screenwriter.name"/>
    </div>
    <div class="p-field">
      <label for="screenwriter-height">Screenwriter Height</label>
      <p-inputNumber id="screenwriter-height" [minFractionDigits]="2"
                     [(ngModel)]="movie.screenwriter.height"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="screenwriter-eye-color">Screenwriter Eye Color</label>
      <p-dropdown [options]="eyeColors" placeholder="Select Eye Color"
                  [showClear]="true" id="screenwriter-eye-color"
                  [(ngModel)]="movie.screenwriter.eyeColor"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="screenwriter-hair-color">Screenwriter Hair Color</label>
      <p-dropdown [options]="hairColors" placeholder="Select Hair Color"
                  [showClear]="true" id="screenwriter-hair-color"
                  [(ngModel)]="movie.screenwriter.hairColor"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="screenwriter-nationality">Screenwriter Nationality</label>
      <p-dropdown [options]="countries" placeholder="Select Nationality"
                  [showClear]="true" id="screenwriter-nationality"
                  [(ngModel)]="movie.screenwriter.nationality"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="screenwriter-location-x">Screenwriter Location X</label>
      <p-inputNumber id="screenwriter-location-x" [(ngModel)]="movie.screenwriter.location.x"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="screenwriter-location-y">Screenwriter Location Y</label>
      <p-inputNumber id="screenwriter-location-y" [(ngModel)]="movie.screenwriter.location.y"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="screenwriter-location-z">Screenwriter Location Z</label>
      <p-inputNumber id="screenwriter-location-z" [minFractionDigits]="2"
                     [(ngModel)]="movie.screenwriter.location.z"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="screenwriter-location-name">Screenwriter Location Name</label>
      <input type="text" pInputText id="screenwriter-location-name" [(ngModel)]="movie.screenwriter.location.name"/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="dismissMovieDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveNewMovie()"></button>
  </ng-template>
</p-dialog>

<p-dialog id="screenwriterDelete" header="Screenwriter details" [(visible)]="isDeleteByScreenwriterDialogVisible"
          [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="del-screenwriter-name">Screenwriter Name</label>
      <input type="text" pInputText id="del-screenwriter-name" [(ngModel)]="movie.screenwriter.name"/>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-height">Screenwriter Height</label>
      <p-inputNumber id="del-screenwriter-height" [minFractionDigits]="2"
                     [(ngModel)]="movie.screenwriter.height"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-eye-color">Screenwriter Eye Color</label>
      <p-dropdown [options]="eyeColors" placeholder="Select Eye Color"
                  [showClear]="true" id="del-screenwriter-eye-color"
                  [(ngModel)]="movie.screenwriter.eyeColor"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-hair-color">Screenwriter Hair Color</label>
      <p-dropdown [options]="hairColors" placeholder="Select Hair Color"
                  [showClear]="true" id="del-screenwriter-hair-color"
                  [(ngModel)]="movie.screenwriter.hairColor"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-nationality">Screenwriter Nationality</label>
      <p-dropdown [options]="countries" placeholder="Select Nationality"
                  [showClear]="true" id="del-screenwriter-nationality"
                  [(ngModel)]="movie.screenwriter.nationality"></p-dropdown>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-location-x">Screenwriter Location X</label>
      <p-inputNumber id="del-screenwriter-location-x" [(ngModel)]="movie.screenwriter.location.x"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-location-y">Screenwriter Location Y</label>
      <p-inputNumber id="del-screenwriter-location-y" [(ngModel)]="movie.screenwriter.location.y"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-location-z">Screenwriter Location Z</label>
      <p-inputNumber id="del-screenwriter-location-z" [minFractionDigits]="2"
                     [(ngModel)]="movie.screenwriter.location.z"></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="del-screenwriter-location-name">Screenwriter Location Name</label>
      <input type="text" pInputText id="del-screenwriter-location-name" [(ngModel)]="movie.screenwriter.location.name"/>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="dismissDeleteByScreenwriterDialog()"></button>
    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-text"
            (click)="deleteByScreenwriterMovies()"></button>
  </ng-template>
</p-dialog>
